*{box-sizing:border-box;}
*{margin:0; padding:0}
.window{
  width:300px;
  height:200px;
  overflow:hidden;
  margin:auto;
}
.images{
  display:flex;
  transition: all 1s;
}
.images > img{
  width:100%;
}